@model IEnumerable<BeanSeans.Data.Sitting>

@{
    ViewData["Title"] = "Reservation-Select Date";
}

<h1>Please select a data for your reservation</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SittingType.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Name)
            </td>
           
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">Select</a>
               </td>
        </tr>
}
    </tbody>
</table>
